body {
  font-family: 'Lato', sans-serif;
  background-color: #F0F0F0;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#content {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.column1 {
  flex-grow: 1;
}
.column2 {
  flex-grow: 1;
}
h1 {
  font-size: 50px;
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
}
table {
  margin: 0px auto;
}
.tile,
td {
  background-color: #99CCFF;
  /*border: 1px solid #CEC5AA;*/
  height: 70px;
  min-width: 60px;
  text-align: center;
  transition: transform 1s;
  transform: rotateY(0deg);
  font-size: 40px;
}
.hidden-tile {
  border: 0px;
  opacity: 0;
}
.blank-tile {
  background-color: #01A1FF;
  transform: rotateY(360deg);
}
.highlight {
  background-color: #FF4133;
  color: #FF4133;
  transform: rotateY(180deg);
  cursor: pointer;
}
#category {
  height: 30px;
  width: 600px;
  margin: 10px auto;
  background-color: #99CCFF;
  font-size: 20px;
  color: black;
}
#instructions,
#game-options {
  font-size: 20px;
  height: auto;
  max-width: 400px;
  margin-top: 20px;
  margin: 10px auto;
  transition: color 1s;
}
#instructions {
  color: #FF4133;
  font-size: 30px;
  font-weight: bold;
}
.player-box {
  display: inline-block;
  font-size: 20px;
}
.player-box div {
  height: 40px;
}
#p1-bank,
#p2-bank {
  color: grey;
}
.name-input {
  font-size: 20px;
  /*width: 325px;*/
  margin: 5px 10px;
  height: 40px;
  text-align: center;
  background-color: #F0EFEB;
  border-bottom: 1px solid black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
#guess-input {
  font-size: 20px;
  width: 325px;
  height: 40px;
  text-align: center;
  background-color: #F0EFEB;
  border-bottom: 1px solid black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
#guess-input:focus {
  outline: none;
}
button {
  cursor: pointer;
  border: 0px;
  border-radius: 3px;
  font-size: 20px;
  transition: background-color 0.5s;
  color: white;
  box-shadow: 0px 5px #bbb;
}
button:active {
  box-shadow: 0px 2px #aaa;
  transform: translateY(3px);
}
#spin,
#solve,
#buy-vowel,
#guess-input {
  display: none;
}
#start {
  background-color: #E74C3C;
}
#start:hover {
  background-color: #C0392B;
}
#continue {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: #2ECC71;
}
#continue:hover {
  background-color: #27AE60;
}
#spin,
#solve,
#buy-vowel {
  margin: 5px 5px;
}
#spin {
  background-color: #3498DB;
}
#spin:hover {
  background-color: #2980B9;
}
#buy-vowel {
  background-color: #E67E22;
}
#buy-vowel:hover {
  background-color: #D35400;
}
#solve {
  background-color: #34495E;
}
#solve:hover {
  background-color: #2C3E50;
}
@media (max-width: 760px) {
  #category {
    font-size: 90%;
    width: 300px;
    height: 20px;
  }
  #content {
    margin-top: 5px;
    flex-wrap: wrap;
  }
  #instructions {
    height: auto;
  }
  .tile,
  td {
    height: 30px;
    min-width: 25px;
    font-size: 25px;
  }
  .column1 {
    margin-bottom: 10px;
  }
}
#gif {
  background-image: url(http://big.assets.huffingtonpost.com/spinning_the_wheel_by_leafman813-d6uhbh6.gif);
  background-size: cover;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0px;
  background-color: grey;
  z-index: 1;
}
